body{
  font-family: "Freckle Face", cursive;
}
/** COLORS **/
.primary-background-color{
  background-color: #f15025;
}
.primary-color{
  color: #f15025;
}
/** END OF COLORS **/
/** VIEWPORT CLASSES **/
.max-viewport{
  min-height: 100vh;
}
.viewport-60{
  min-height: 60vh;
}
/** END OF VIEWPORT CLASSES **/
/** FILLER SECTION 2 **/
#filler-2{
  background-image: linear-gradient(rgba(241, 80, 37, .9), rgba(0, 0, 0, .3));
}
/** END OF FILLER SECTION 2 **/
/** FILLER SECTION 3 **/
#filler-3{
  background-image: linear-gradient(to left, rgba(0, 0, 0, .9), rgba(0, 0, 0, .3)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/** FILLER SECTION 3 **/
/** BASIC CARDS SECTION **/
.title-underline{
  width: 6.25rem;
  border: .125rem solid #f15025;
  margin: 0 auto;
}
.title-color{
  color: #2d3142;
}
/** END OF BASIC CARDS SECTION **/
/** BACKGROUND PHOTO SECTION **/
#background-photo{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.paragraph-color{
  color: #ced0ce;
}
/** END OF BACKGROUND PHOTO SECTION **/
/** BANNER FORM SECTION **/
#banner-form{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#banner-form .card{
  background-color: rgba(0, 0, 0, .5);
}
#banner-form .card:hover{
  background-color: rgba(0, 0, 0, .8);
}
/** END OF BANNER FORM SECTION **/
/** ABOUT PHOTO SECTION **/
.no-padding{
  padding: 0;
}
/** END OF ABOUT PHOTO SECTION **/
/** BANNER FORM 2 **/
#banner-form-2{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#banner-form-2 .form-control{
  background-color: transparent;
  font-size: 2.5em;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #fff;
}
#banner-form-2 .form-btn{
  background-color: transparent;
  color: #f15025;
  font-size: 2.5em;
  border-radius: 0;
  border: 3px solid #fff;
}
#banner-form-2 .form-btn:hover{
  background-color: #f15025;
  color: #ced0ce;
  border: 3px solid #f15025;
}
#banner-form-2 input::placeholder{
  color: #f15025;
}
/** END OF BANNER FORM 2 **/
/** MASONRY IMAGE SECTION **/
#masonry-images .img-container{
  background-color: rgba(o, 0, 0, .7);
  position: relative;
}
#masonry-images .img-container:hover img{
  opacity: .5;
}
#masonry-images .img-container .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
#masonry-images .img-container:hover .fas{
  visibility: visible;
}
/** END OF MASONRY IMAGE SECTION **/
