body{
  font-family: "Freckle Face", cursive;
}
/** COLORS **/
.primary-background-color{
  background-color: #f15025;
}
.primary-color{
  color: #f15025;
}
/** END OF COLORS **/
/** VIEWPORT CLASSES **/
.max-viewport{
  min-height: 100vh;
}
.viewport-60{
  min-height: 60vh;
}
/** END OF VIEWPORT CLASSES **/
/** FILLER SECTION 2 **/
#filler-2{
  background-image: linear-gradient(rgba(241, 80, 37, .9), rgba(0, 0, 0, .3));
}
/** END OF FILLER SECTION 2 **/
/** FILLER SECTION 3 **/
#filler-3{
  background-image: linear-gradient(to left, rgba(0, 0, 0, .9), rgba(0, 0, 0, .3)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/** FILLER SECTION 3 **/
/** BASIC CARDS SECTION **/
.title-underline{
  width: 6.25rem;
  border: .125rem solid #f15025;
  margin: 0 auto;
}
.title-color{
  color: #2d3142;
}
/** END OF BASIC CARDS SECTION **/
/** BACKGROUND PHOTO SECTION **/
#background-photo{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.paragraph-color{
  color: #ced0ce;
}
/** END OF BACKGROUND PHOTO SECTION **/
/** BANNER FORM SECTION **/
#banner-form{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#banner-form .card{
  background-color: rgba(0, 0, 0, .5);
}
#banner-form .card:hover{
  background-color: rgba(0, 0, 0, .8);
}
/** END OF BANNER FORM SECTION **/
/** ABOUT PHOTO SECTION **/
.no-padding{
  padding: 0;
}
/** END OF ABOUT PHOTO SECTION **/
/** BANNER FORM 2 **/
#banner-form-2{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#banner-form-2 .form-control{
  background-color: transparent;
  font-size: 2.5em;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #fff;
}
#banner-form-2 .form-btn{
  background-color: transparent;
  color: #f15025;
  font-size: 2.5em;
  border-radius: 0;
  border: 3px solid #fff;
}
#banner-form-2 .form-btn:hover{
  background-color: #f15025;
  color: #ced0ce;
  border: 3px solid #f15025;
}
#banner-form-2 input::placeholder{
  color: #f15025;
}
/** END OF BANNER FORM 2 **/
/** MASONRY IMAGE SECTION **/
#masonry-images .img-container{
  background-color: rgba(o, 0, 0, .7);
  position: relative;
}
#masonry-images .img-container:hover img{
  opacity: .5;
}
#masonry-images .img-container .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
#masonry-images .img-container:hover .fas{
  visibility: visible;
}
/** END OF MASONRY IMAGE SECTION **/
/** PRICING CARD SECTION **/
#pricing-cards{
  background-color: #f15025;
}
#pricing-cards .first{
  border: none;
}
/** END OF PRICING CARD SECTION **/
/** SECOND SKILLS SECTION **/
#skills-2 .far,
#skills-2 .fas{
  background-color: #353531;
  color: #f15025;
  padding: 1em;
  border-radius: 50%;
  font-size: 1.5rem;
}
#skills-2 hr{
  margin-top: -2.4375rem;
  margin-right: 10em;
  border: .1875rem solid #353531;
  width: 150%;
}
#skills-2 .hr-1{
  width: 100%;
  margin-left: 9.55em;
}
#skills-2 .hr-2{
  width: 150%;
  margin-right: 10em;
}
/** END OF SECOND SKILLS SECTION **/
/** FORM FILLER SECTION **/
#form-filler{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/** END OF FORM FILLER SECTION **/
/** ABOUT BACKGROUND SECTION **/
#about-background{
  background-color: rgb(47, 51, 70);
}
#about-background .background-image{
  background-image: url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-top: 25rem solid transparent;
  border-right: 9.375rem solid #2f3346;
}
/** END OF ABOUT BACKGROUND SECTION **/
/** PROGRESS BARS SECTION **/
#progress-bars{
  background-color: rgba(241, 80, 37, .8);
}
.progress-underline{
  width: 4.375rem;
  border: .125rem solid #ced0ce;
}
/** END OF PROGRESS BARS SECTION **/
/** PROGRESS FILLER SECTION **/
#filler-progress{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/** END OF PROGRESS FILLER SECTION **/
/** THIRD PROJECT SECTION **/
#projects-3 .card{
  border: none;
}
#projects-3 .img-container{
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .7);
  height: 100%;
}
#projects-3 img{
  transition: transform 4s ease-in-out;
}
#projects-3 .img-text{
  position: absolute;
  top: 0;
  right: 0;
  padding: .3125rem;
  background-color: #f15025;
  visibility: hidden;
}
#projects-3 .img-container:hover img{
  transform: scale(1.3);
  opacity: .7;
}
#projects-3 .img-container:hover .img-text{
  visibility: visible;
}
#projects-3 .card-footer a{
  text-decoration: none;
}
#projects-3 .card-footer a:hover{
  color: rgb(47, 51, 70);
}
/** END OF THIRD PROJECT SECTION **/
/** FLEX SKILLS SECTION **/
#flex-skills .title-underline{
  margin: 0 0 .3125rem 0;
  width: 3.75rem;
}
#flex-skills .far{
  color: #f15025;
  font-size: 1.875rem;
}
/** END OF FLEX SKILLS SECTION **/
/** CHECKBOXES SECTION **/
#checkboxes{
  background-color: #ced0ce;
}
#checkboxes .far{
  background-color: #2d3142;
  color: #f15025;
  font-size: 1.875rem;
  padding: .3125rem;
}
#checkboxes p{
  color: #2d3142;
}
/** END OF CHECKBOXES SECTION **/
/** BACKGROUND ICONS SECTION **/
#background-icons{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/projects-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#background-icons .far{
  color: #f15025;
  font-size: 3.75rem;
}
/** END OF BACKGROUND ICONS SECTION **/
